<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Админ-Документы</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<br>
<span>Администрирование</span>
<form action="/admin" method="get">
    <button type="submit">Админ</button>
</form>
<!--<form action="/admin/russian" method="get">-->
<!--    <button type="submit">Русскоязычный блок</button>-->
<!--</form>-->
<!--<form action="/admin/english" method="get">-->
<!--    <button type="submit">Англоязычный блок</button>-->
<!--</form>-->
<!--<form action="/admin/additional" method="get">-->
<!--    <button type="submit">Доп.педагоги</button>-->
<!--</form>-->
</body>
</html>