<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
<body>
<div th:insert="~{fragment::header}"></div>
<h3>Постановка задачи сотруднику</h3>
<div th:if="${!#httpServletRequest.requestURI.contains('create')}" th:each="task:${allByUser_id}">
    <span th:text="${task.getTask_header()}">Task</span>&emsp;
    <a th:href="@{'/admin/tasks/'+${task.id}+'/update'}" th:text="Обновить">Update</a>
    <a th:href="@{'/admin/tasks/'+${task.id}+'/delete'}" th:text="Удалить">Delete</a>
    <br>
</div>

<div th:if="${!#httpServletRequest.requestURI.contains('create')} AND ${!#httpServletRequest.requestURI.contains('update')}">
    <br>
    <a th:href="@{'/admin/tasks/create'}" th:text="|Создать задачу|">Создать задачу</a>
</div>
<div th:if="${#httpServletRequest.requestURI.contains('create')} OR ${#httpServletRequest.requestURI.contains('update')}">
    <form th:action="@{/admin/tasks/{modify}(modify=${modify})}" method="post" th:object="${taskReadDto}">
        <label for="task_header">Имя для задачи:
            <input id="task_header" type="text" name="task_header" th:value="*{task_header}">
        </label><br>
        <h3>Тип задачи</h3>
        <div th:if="${#httpServletRequest.requestURI.contains('create')}">
            <div th:each="typeFrom:${types}">
                <input id="type" type="radio" name="type" th:value="${typeFrom}" th:text="${typeFrom.getName()}">
            </div><br>
        </div>
        <div th:if="${#httpServletRequest.requestURI.contains('update')}">
        <div th:each="typeFrom:${types}">
            <input id="type" type="radio" name="type" th:value="${typeFrom}" th:text="${typeFrom}" th:checked="${typeFrom.getName()}==*{type.getName()}">
        </div><br>
        </div>
        <label for="endTime">До какого времени необходимо выполнить:
            <input id="endTime" type="datetime-local" name="endTime" th:value="*{endTime}">
        </label><br>
        <br>
        <h3>Сотрудник</h3>
        <div th:if="${#httpServletRequest.requestURI.contains('create')}">
        <div th:each="user:${users}">
            <input type="radio" name="userId" th:value="${user.id}" th:text="|${user.firstname} ${user.lastname}|">
            <br>
        </div>
        </div>
        <div th:if="${#httpServletRequest.requestURI.contains('update')}">
        <div th:each="user:${users}">
            <input type="radio" name="userId" th:value="${user.id}" th:text="|${user.firstname} ${user.lastname}|" th:checked="${user.id}==*{user.id}">
            <br>
        </div>
        </div>


            <h3>Подзадачи</h3>
        <div>
            <label for="first" > 1.Подзадача:
            <input id="first" type="text" th:field="${taskCreateEditDto.subTaskCreateEditDtos[0].subtask}" name="subtask">
            </label>
            <input type="checkbox" th:field="${taskCreateEditDto.subTaskCreateEditDtos[0].status}" name="status">
        </div>
        <div>
            <label for="second" > 2.Подзадача:
            <input id="second" type="text" th:field="${taskCreateEditDto.subTaskCreateEditDtos[1].subtask}" name="subtask">
            </label>
            <input type="checkbox" th:field="${taskCreateEditDto.subTaskCreateEditDtos[1].status}" name="status">
        </div>
        <div>
            <label for="third" > 3.Подзадача:
            <input id="third" type="text" th:field="${taskCreateEditDto.subTaskCreateEditDtos[2].subtask}" name="subtask">
            </label>
            <input type="checkbox"  th:field="${taskCreateEditDto.subTaskCreateEditDtos[2].status}" name="status">
        </div>
        <div>
            <label for="fourth" > 4.Подзадача:
            <input id="fourth" type="text" th:field="${taskCreateEditDto.subTaskCreateEditDtos[3].subtask}" name="subtask">
            </label>
            <input type="checkbox" th:field="${taskCreateEditDto.subTaskCreateEditDtos[3].status}" name="status">
        </div>
        <div>
            <label for="fifth" > 5.Подзадача:
            <input id="fifth" type="text" th:field="${taskCreateEditDto.subTaskCreateEditDtos[4].subtask}" name="subtask">
            </label>
            <input type="checkbox" th:field="${taskCreateEditDto.subTaskCreateEditDtos[4].status}" name="status">
        </div>
        <button th:if="${#httpServletRequest.requestURI.contains('update')}" type="submit" th:text="Обновить"></button>
        <button th:if="${#httpServletRequest.requestURI.contains('create')}" type="submit" th:text="Создать"></button>
    </form>
        </div>



</div>
</body>
</head>
</html>