<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <body>
<form action="/admin/news" method="post">
    <label for="header">Заголовок:
        <input id="header" type="text" name="header">
    </label><br>
    <label for="body">Текст:
        <input id="body" type="text" name="body">
    </label><br>
    <button type="submit">Создать новость</button>
</form>
<form method="post" action="@{/admin/news/delete}">
<div th:if="${news.content}" th:each="piece:${news.content}">
    <a th:href="@{'/admin/news/' + ${piece.id}}" th:text="|${piece.id}. ${piece.header}|">News</a><br>
    <a th:if="${show_news.getId()==piece.id}" th:text="${show_news.getBody()}">Body</a>
    <input type="radio" name="idNews" th:value="${piece.id}">
</div>
    <label>
        <button type="submit">Удалить</button>
    </label>
</form>
<form action="/admin/news" method="get">
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${news.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${news.metadata.size}">
        </label>
    </div>
    <button type="submit">Применить</button>
</form>

</body>
</head>
</html>