<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <body>
<form action="/admin" method="post">
    <label for="header">Заголовок:
        <input id="header" type="text" name="header">
    </label><br>
    <label for="body">Текст:
        <input id="body" type="text" name="body">
    </label><br>
    <button type="submit">Создать новость</button>
</form>

<div th:each="piece:${news.content}">
    <a th:href="@{'/admin/news/' + ${piece.id}}" th:text="|${piece.id}. ${piece.header}|">News</a>
    <div th:if="${show_news.getId()}">
    ${show_news.getBody()}
</div>
</div>
</body>
</head>
</html>