<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
        <title>Админ-Документы</title>
    </head>
<body>
<div th:insert="~{fragment::header}"></div>
<span>Добавить документ</span>
<form th:action="@{/admin/documents/create}" enctype="multipart/form-data" method="post">
      <label for="document"> Тип:
<select id="document" name="kind">
    <option th:each="kind : ${kinds}"
            th:value="${kind}"
            th:text="${kind.getName()}">Kind</option>
</select>
      </label>
    <label for="doc">Документ:
        <input id="doc" type="file" name="document">
    </label><br>
<button  type="submit">Добавить
</button>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>
</form>
<form th:action="@{/admin/documents/delete}" method="post">
    <br>
<span>Документы</span>

<div th:if="${!ktp.isEmpty()}">
    <span>КТП:</span>
    <div th:each="document: ${ktp}"  >
        <a th:href="@{'/api/v1/documents/KTP/' + ${document.id}}" th:text="${document.document}">КТП</a>
        <input type="radio" name="idDocument" th:value="${document.id}">
    </div>
</div>
    <br>
<div th:if="${!work_projects.isEmpty()}">
    <span>Рабочие проекты:</span>
    <div th:each="document: ${work_projects}" >
        <a th:href="@{'/api/v1/documents/WORK_PROJECTS/' + ${document.id}}" th:text="${document.document}">Work projects</a>
        <input type="radio" name="idDocument" th:value="${document.id}">
    </div>
</div>
    <br>
<div th:if="${!schedule.isEmpty()}">
    <span>Расписание:</span>
    <div th:each="document: ${schedule}">
        <a th:href="@{'/api/v1/documents/SCHEDULE/' + ${document.id}}" th:text="${document.document}">Schedule</a>
        <input type="radio" name="idDocument" th:value="${document.id}">
    </div>
</div>
    <br>
<div th:if="${!event.isEmpty()}">
    <span>Мероприятие:</span>
    <div th:each="document: ${event}">
        <a th:href="@{'/api/v1/documents/EVENT/' + ${document.id}}" th:text="${document.document}">Event</a>
        <input type="radio" name="idDocument" th:value="${document.id}">
    </div>
</div>
    <br>
<div th:if="${!instruction.isEmpty()}">
    <span>Инструкция:</span>
    <div th:each="document: ${instruction}">
        <a th:href="@{'/api/v1/documents/INSTRUCTION/' + ${document.id}}" th:text="${document.document}">Instruction</a>
        <input type="radio" name="idDocument" th:value="${document.id}">
    </div>
</div>
    <br>
<label>
    <button type="submit">Удалить</button>
</label>
</form>
</body>
</html>
