<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <body>

<div th:if="${allByUser_id}" th:each="task:${allByUser_id}">
    <a th:href="@{'/admin/tasks/'+${id}+'/'+${task.id}}" th:text="${task.getTask_header()}">Task</a>&emsp;
    <a th:href="@{'/admin/tasks/'+${id}+'/create'}" th:text="Создать">Create</a>
    <a th:href="@{'/admin/tasks/'+${id}+'/'+${task.id}+'/update'}" th:text="Обновить">Update</a>
    <a th:href="@{'/admin/tasks/'+${id}+'/'+${task.id}+'/delete'}" th:text="Удалить">Delete</a>
<br>
    </div>
<div th:if="${#servletContext.contextPath.toString().contains('create')}" method="post">
    <form th:action="@{'/admin/tasks/'+${id}+'/create'}">

        <label for="task_header">Name for task:
            <input id="task_header" type="text" name="task_header">
        </label><br>

        <div th:each="typeFrom:${types}">
           <input type="checkbox" name="type" th:value="${typeFrom}">
        </div>
        <label for="task_header">Name for task:
            <input id="task_header" type="text" name="task_header">
        </label><br>


        <div th:if="${subtasks.isEmpty}">
            <input id="subTask" type="text" name="subTask">
<!--            @Enumerated(EnumType.STRING)-->
<!--            private Type type;-->

<!--            private String task_header;-->

<!--            @OneToMany(mappedBy = "task")-->
<!--            private List<SubTask> subTask;-->
<!--            private LocalDateTime endTime;-->
<!--            @ManyToOne(fetch = FetchType.LAZY)-->
<!--            @JoinColumn(name = "user_id")-->
<!--            private User user;-->
        </div>
        <div th:unless="${subtasks.isEmpty}">
            <div th:each="subtask:${subtasks}">
                <div th:text='|${subtask.id} . ${subtask.subtask}|'>subTask</div>
            </div>
            <input id="subTask" type="text" name="subTask">
        </div>


    </form>


</div>

</body>
</head>
</html>