<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<h3>Новости:</h3>
<div>
    <div th:if="${news.content}" th:each="piece:${news.content}">
        <a th:href="@{'/news/' + ${piece.id}}" th:text="${piece.header}">News</a>
 <br>
        <a th:if="${show_news.getId()==piece.id}" th:text="${show_news.getBody()}">Body</a>
    </div>
    <form action="/russian" method="get">
        <div>
            <label for="page">Page:
                <input id="page" type="number" name="page" th:value="${news.metadata.page}">
            </label>
            <label for="size">Size:
                <input id="size" type="number" name="size" th:value="${news.metadata.size}">
            </label>
        </div>
        <button type="submit">Применить</button>
    </form>
  </div>
    <h3>Документы:</h3>
    <div>
        <a th:href="@{'/documents'}" th:text="|Работа с документами|">Документы</a>
    </div>

<h3>Задачи:</h3>
<a th:href="@{/tasks}" th:text="|Плановые задачи|">Задачи</a>
</body>
</html>